.objective-left-font{
	font-size: 25px;
	font-family: 'Comic Sans, Comic Sans MS, cursive';

}
.objective-right-font{
	font-size: 12px;
	font-family: 'Comic Sans, Comic Sans MS, cursive';
    
}
  .Resume_clip_img{
        background-image: url('img/portfolio/Theju_resume.gif');
        
        background-repeat: no-repeat;
    }
    